body {
    background-color: black;
}
h1 {
    font-size: 40pt;
    color: gray;
    text-align: center;
}
p {
    color: white;
    text-align: justify;
    text-indent: 50px;
    letter-spacing: 3px;
    width: 60%;
    margin:auto;
}
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
}
nav li a {
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:larger;
    color: black;


    color: black;
    padding: 20px 30px;
    text-decoration:none;
}
nav li a:hover {
    background-color: slategrey;
} 

 img {
    width: 750px
}
div {
    text-align: center;
    padding: 50px;
}

footer {
    padding: 50px;
}